# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python/
env/
venv/
.venv/
*.egg-info/
.pytest_cache/
.ruff_cache/
.mypy_cache/

# Editor
.vscode/
.idea/

# OS
.DS_Store
.env
.env.*
!.env.example

# Docker
*.dockerignore
docker-compose.override.yml
*.log

# Node
node_modules/
frontend/node_modules/

output.json